[submodule "lib/rain.solmem"]
	path = lib/rain.solmem
	url = https://github.com/rainlanguage/rain.solmem
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
